.bg-dia{
	background-size:.6em .6em;
	background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #FFF), color-stop(0.25, #FFF), color-stop(0.25, #EEE), color-stop(0.5, #EEE), color-stop(0.5, #FFF), color-stop(0.75, #FFF), color-stop(0.75, #EEE));
	background-image: -webkit-linear-gradient(left bottom, #FFF 0%, #FFF 25%, #EEE 25%, #EEE 50%, #FFF 50%, #FFF 75%, #EEE 75%);
	background-image: -moz-linear-gradient(left bottom, #FFF 0%, #FFF 25%, #EEE 25%, #EEE 50%, #FFF 50%, #FFF 75%, #EEE 75%);
	background-image: -ms-linear-gradient(left bottom, #FFF 0%, #FFF 25%, #EEE 25%, #EEE 50%, #FFF 50%, #FFF 75%, #EEE 75%);
	background-image: -o-linear-gradient(left bottom, #FFF 0%, #FFF 25%, #EEE 25%, #EEE 50%, #FFF 50%, #FFF 75%, #EEE 75%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#EEEEEE',GradientType=0 ); 
	background-image: linear-gradient(left bottom, #FFF 0%, #FFF 25%, #EEE 25%, #EEE 50%, #FFF 50%, #FFF 75%, #EEE 75%);
}
.bg-grad{
	background: rgb(69,72,77); /* Old browsers *//* IE9 SVG, needs conditional override of 'filter' to 'none' */ 
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ1NDg0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */ 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */ 
	background: -webkit-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */ 
	background: -o-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */ 
	background: -ms-linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */ 
	background: linear-gradient(top, rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */ 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-8 */ 
}

